<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
<div class="jumbotron text-center">
        <h1 class="display-4">Manage Your Class Online</h1>
        <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
        <hr class="my-4">
        <p>Page not Found</p>
        <a class="btn btn-dark btn-lg mr-4" href="/tutor" role="button">Tutor</a>
        <a class="btn btn-dark btn-lg" href="/student" role="button">Student</a>
    </div>
<%- include('includes/end.ejs') %>