<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Class@Home</title>
	<!-- Template CSS -->
	<link rel="stylesheet" href="assets/css/style-starter.css">
	<!-- Template CSS -->
	<link href="fonts.googleapis.com/css?family=Hind:400,500,600,700&display=swap" rel="stylesheet">
	<!-- Template CSS -->
<!-- <script src="./assets/js/font-awesome.js"></script> -->

</head>

<body>
	<!--/top-header-content-->
	<div class="template">
		<header id="site-header" class="fixed-top">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-dark stroke">
					<a class="navbar-brand" href="/">
						<span class="fa fa-lightbulb-o"></span> Class@Home
					</a>
					<button class="navbar-toggler bg-gradient" type="button" data-toggle="collapse"
						data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
						aria-label="Toggle navigation"><span class="navbar-toggler-icon fa fa-bars"> </span>
					</button>

					<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active">
								<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link effect-3" href="/tutor">Tutor</a>
							</li>
						
							<li class="nav-item">
								<a class="nav-link effect-3" href="/student">Student</a>
							</li>
						</ul>

					</div>
				</nav>
			</div>
		</header>
	</div>
	<!--//top-header-content-->
	<!--w3l-banner-slider-->
	<section class="w3l-banner-main">

		<!--/banner-content-->
		<div class="bannerhny-content text-center">
			<h3 data-aos="fade-up">Manage your <span>time</span>,
				make <span>studies</span><br> more advanced.</h3>
			<div class="banner-button" data-aos="fade-down">
				<a href="/tutor" class="btn mr-4">Tutor</a>
				<a href="/student" class="btn">Student</a>
			</div>
		</div>
		<!--//banner-content-->
	</section>
	<!-- //w3l-banner-slider-->

	<section class="w3l-content-12-main">
		<!-- /content-6-section -->
		<div class="content-12 text-left py-5">
			<div class="container pt-lg-3">

				<h3 class="hny-title text-center">
					How it Works </h3>
				<div class="content-info-tabs mt-4">
					<div class="tab-main mx-auto text-md-center">

						<input id="tab1" type="radio" name="tabs" checked>
						<label for="tab1"><span class="fa fa-lock" aria-hidden="true"></span> Create Account</label>

						<input id="tab2" type="radio" name="tabs">
						<label for="tab2"><span class="fa fa-book" aria-hidden="true"></span>Study Online</label>

						<input id="tab3" type="radio" name="tabs">
						<label for="tab3"><span class="fa fa-smile-o" aria-hidden="true"></span> Enjoy Studies</label>
						<input id="tab4" type="radio" name="tabs">
						<label for="tab4"><span class="fa fa-trophy" aria-hidden="true"></span> Fly High</label>
						<section id="content1" data-aos="zoom-in">
							<img src="assets/images/screen-1.png" class="img-fluid" alt="mobile-image">
						</section>

						<section id="content2" data-aos="zoom-in">
							<img src="assets/images/screen-2.png" class="img-fluid" alt="mobile-image">
						</section>

						<section id="content3" data-aos="zoom-in">
							<img src="assets/images/screen-1.png" class="img-fluid" alt="mobile-image">
						</section>
						<section id="content4" data-aos="zoom-in">
							<img src="assets/images/screen-2.png" class="img-fluid" alt="mobile-image">
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //content-6-section -->
	<section class="w3l-content-6">
		<!-- /content-6-section -->
		<div class="content-6-mian py-5">
			<div class="container py-lg-3">
				<h3 class="hny-title text-center">
					Multi-platform support </h3>
				<div class="content-info-in row mt-lg-5 mt-4">
					<div class="content-gd col-md-4 text-lg-right">
						<h4><span>50%</span> more productive</h4>
					</div>
					<div class="content-gd col-md-4" data-aos="zoom-in">
						<img src="assets/images/1.png" class="img-fluid" alt="">
					</div>
					<div class="content-gd col-md-4">
						<h4><span>50%</span> more time</h4>
					</div>

				</div>

			</div>
		</div>
	</section>
	<!-- //content-6-section -->


	<section class="w3l-content-w-photo-6">
		<!-- /content-grids-->
		<div class="content-photo-info py-5">
			<div class="container py-lg-3">
				<h3 class="hny-title text-center">
					Features</h3>
				<!-- /row-->
				<div class="content-photo-grids row mt-lg-5 mt-4 px-lg-5">
					<div class="photo-6-inf-left col-lg-6 pr-lg-4" data-aos="fade-up">
						<img src="assets/images/2.png" class="img-fluid" alt="">
					</div>
					<div class="photo-6-inf-right col-lg-6 text-left pl-lg-5" data-aos="fade-down">

						<h4>Easy to Manage Your All Data by This App!
						</h4>
						<p>Submit Assignments and Do tasks. Keep touch with your teacher.</p>
					</div>
				</div>
				<!-- //row-->
				<!-- /row-->
				<div class="content-photo-grids row py-lg-5 py-4 mt-lg-5 mt-4 px-lg-5">

					<div class="photo-6-inf-right col-lg-6 text-left pr-lg-5" data-aos="fade-down">
						<h4>
							Easy to access from Anywhere.</h4>
						<p>Get your Class from Anywhere. Multiplatform supported.</p>
					</div>
					<div class="photo-6-inf-left col-lg-6 pr-lg-4" data-aos="fade-up">
						<img src="assets/images/3.png" class="img-fluid" alt="">
					</div>
				</div>
				<!-- //row-->

			</div>
		</div>
	</section>
	<!-- /macbook--->
	<section class="w3l-macbook-content-6">
		<div class="macbook-infohny">
			<!-- /macbook-infohny-->
			<div class="container-fuild">
				<div class="row macbook-infohny-inn mx-lg-0">
					<div class="col-lg-6 macbook-left mt-lg-0 mt-5 px-lg-0" data-aos="fade-up">
						<img src="assets/images/macbook-1.png" class="img-fluid" alt="">
					</div>
					<div class="col-lg-6 macbook-right my-lg-5 py-lg-5 py-4" data-aos="fade-down">
						<h3 class="hny-title mb-lg-5">
							Provide even better features.</h3>
						<div class="row macbook-right-grids mb-lg-5 mb-4">
							<div class="col-md-2 macbook-right-icon">
								<div class="macbook-icon">
									<span class="fa fa-clock-o"></span>
								</div>
							</div>
							<div class="col-md-10 macbook-right-info">
								<h6><a href="blog-single.html">Take your own time</a></h6>
								<p>Catch all lessons faster.</p>
							</div>

						</div>
						<div class="row macbook-right-grids mb-5 mt-lg-0 mt-5">
							<div class="col-md-2 macbook-right-icon">
								<div class="macbook-icon">
									<span class="fa fa-podcast"></span>
								</div>
							</div>
							<div class="col-md-10 macbook-right-info">
								<h6><a href="blog-single.html">Easy User Interface</a></h6>
								<p>Customized and Simple User Interface for easy use.</p>
							</div>

						</div>
						<div class="row macbook-right-grids mb-lg-0 mb-4">
							<div class="col-md-2 macbook-right-icon">
								<div class="macbook-icon">
									<span class="fa fa-database"></span>
								</div>
							</div>
							<div class="col-md-10 macbook-right-info">
								<h6><a href="blog-single.html">Quick Access</a></h6>
								<p>Access your Data from Anywhere</p>
							</div>

						</div>
					</div>

				</div>
			</div>
			<!-- //macbook-infohny-->
		</div>
	</section>
	<!-- //macbook--->
	<section class="w3l-content-5">
		<!-- /content-6-section -->
		<div class="content-5-main">
			<div class="container">
				<div class="content-info-in pt-5">
					<div class="content-gd pt-lg-5">
						<h3 class="hny-title" data-aos="fade-up">
							Exists to create
							things <br>people love </h3>
						<p data-aos="fade-up">Creating an E-Class for your Class. Keep in touch with your Online Classroom</p>
						<img src="assets/images/macbook-2.png" class="img-fluid" alt="">
					</div>

				</div>

			</div>
		</div>
	</section>
	<!-- //content-6-section -->
	<!--/w3l-download-main-->
	<section class="w3l-download-main">
		<!--/download-->
		<div class="download-content text-center py-5">
			<div class="container py-lg-3">
				<h3 data-aos="fade-up">Class@Home is free for <span>Education</span>.<br> Try today!</h3>
				<div class="banner-button" data-aos="fade-up">
					<a href="/tutor" class="btn mr-4">Tutor</a>
				<a href="/student" class="btn">Student</a>
				</div>
			</div>
		</div>
		</div>
		<!--//download-->
	</section>
	<!--//w3l-download-main-->
	<!-- footer -->
	<footer class="w3l-footer-16">
		<div class="footer-content py-lg-5 py-4 text-center">
			<div class="container">
				<div class="copy-right">
					<h6>Developed and Designed by <a
						href="https://ajdaniel.gq">Ajay Daniel Trevor</a> </h6>
					<ul class="footer-gd-16">
						<li>© 2020 AJ-Daniel. </li>
					</ul>
				</div>
				<button onclick="topFunction()" id="movetop" title="Go to top">
					<span class="fa fa-angle-up"></span>
				</button>
			</div>
		</div>

		<!-- move top -->
		<script>
			// When the user scrolls down 20px from the top of the document, show the button
			window.onscroll = function () {
				scrollFunction()
			};

			function scrollFunction() {
				if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
					document.getElementById("movetop").style.display = "block";
				} else {
					document.getElementById("movetop").style.display = "none";
				}
			}

			// When the user clicks on the button, scroll to the top of the document
			function topFunction() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			}
		</script>
		<!-- //move top -->
		<script>
			$(function () {
				$('.navbar-toggler').click(function () {
					$('body').toggleClass('noscroll');
				})
			});
		</script>
	</footer>
	<!-- //footer -->
</body>

</html>

<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->

<!--//-->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!--/MENU-JS-->
<script>
	$(window).on("scroll", function () {
		var scroll = $(window).scrollTop();

		if (scroll >= 80) {
			$("#site-header").addClass("nav-fixed");
		} else {
			$("#site-header").removeClass("nav-fixed");
		}
	});

	//Main navigation Active Class Add Remove
	$(".navbar-toggler").on("click", function () {
		$("header").toggleClass("active");
	});
	$(document).on("ready", function () {
		if ($(window).width() > 991) {
			$("header").removeClass("active");
		}
		$(window).on("resize", function () {
			if ($(window).width() > 991) {
				$("header").removeClass("active");
			}
		});
	});
</script>
<!--//MENU-JS-->
<!-- /aos -->
<script src="assets/js/aos.js"></script>
<script src="assets/js/aosindex.js"></script>
<!-- //aos -->

<script src="assets/js/bootstrap.min.js"></script>