<%- include('../includes/head.ejs') %>
 <link rel="stylesheet" href="/css/main.css">
 <style>
     body{
         padding-left: 4.5rem;
     }
     video {
         transform: rotateY(180deg); 
     }

     .select {
         height: 30px;
     }

     .h-90 {
         height: 90% !important;
     }

     .h-10 {
         height: 10% !important;
     }

     #peerVideo:hover {
         opacity: 0.6;
         cursor: pointer;
     }

     .centered {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
     }
    @media only screen and (max-width: 768px) {
     .spacing{
         margin-top: 30px;
         margin-bottom: 30px;
     }   

    }
 </style>
</head>

<body>   

 <%- include('../includes/navigation.ejs') %>
 <%- include('./nav.ejs') %>

 <a href="/tutor/chat"> <i class="fas fa-comment-dots" id="chatBox"></i></a>
 <!-- <div id="tutorContent"> -->
  
     <div class="container-fluid" style="margin-top: 5rem;">
        <center>
            <a class="btn btn-danger text-light mt-4 mb-4" href="/">End Call</a>
        
        <div class="row h-10 w-100" style="display: none;">
            <div class="col">
                <select id="filter" class="w-100 bg-dark text-light ml-2 mt-2 select font-weight-bold border">
                    <option value="none">Normal</option>
                    <option value="grayscale(100%)">B & W</option>
                    <option value="sepia(100%)">Old School</option>
                    <option value="contrast(150%)">Lumination</option>
                    <option value="blur(20px)">Hidden Mist</option>
                    <option value="invert(100%)">Dracula</option>
                    <option value="hue-rotate(180deg">X-men Beast</option>
                    <option value="saturate(25)">Super Saiyan God</option>
                </select>
            </div>
            <div class="col">
                <div class="float-right mt-3">
                    <input class="form-check-input" type="checkbox" id="theme">
                    <label class="form-check-label" for="theme">
                        Dark Theme
                    </label>
                </div>
            </div>
        </div>
        <div class="row h-90 w-100">
            <div class="col-12 col-sm-6 d-flex justify-content-center mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" muted></video>
                </div>
            </div>
            <div class="col-12 col-sm-6 d-flex justify-content-center">
                <div id="peerDiv" class="embed-responsive embed-responsive-16by9">
                </div>
            </div>
        </div>
        </center>
    </div>

<!-- </div> -->

 <script src="/js/videoChat.js"></script>





 <%- include('../includes/end.ejs') %> 