<%- include('../includes/head.ejs') %>
    <style>
        body{
            padding-left: 4.5rem;
        }
    </style>
    <style>
            #tutorContent h1,#tutorContent p{
                color: #0F2027;
            }
            #tutorContent.card {
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
              max-width: 300px;
              margin: auto;
              text-align: center;
              font-family: arial;
            }
            
            #tutorContent.title {
              color: rgb(49, 6, 6);
              font-size: 18px;
            }
            
            
            #tutorContent a {
              text-decoration: none;
              font-size: 22px;
              color: rgb(250, 250, 250);
              width: 10rem;
              margin: auto;
              background-color: #0F2027;
            }

            #tutorContent a:hover {
              color: rgb(255, 255, 255);
              transition: all 0.5s;
              background-color: #030a25;
            }
            
            #tutorContent button:hover{
              opacity: 0.7;
            }
            #tutorContent.centered{
              margin: 1rem auto;
            }
            #month{
                padding: 5px;
                background-color: #f0f0f0;
                border-radius: 25px;
            }
    </style>
</head>

<body>
    
    <%- include('../includes/navigation.ejs') %>
    <%- include('./nav.ejs') %>
    <div id="tutorContent" class="centered justify-content-center" >
      <a href="/student/chat"> <i class="fas fa-comment-dots" id="chatBox"></i></a>
      
      h
    </div>

    

<%- include('../includes/end.ejs') %>